{{ define "main" }}
  {{ $claim := .Params.description | default .Site.Params.description }}
  <section class="cdk-home">
    <div class="cdk-home__inner">
      <h1 class="cdk-sr-only">{{ .Title | default .Site.Title }}</h1>
      <div class="cdk-home__logo-frame">
        <img
          class="cdk-home__logo"
          src="{{ "logo.png" | relURL }}"
          alt="{{ .Site.Title }} logo"
          width="784"
          height="714">
      </div>
      <p class="cdk-home__claim">{{ $claim }}</p>
      {{ partials.Include "cdk-social-links.html" . }}
    </div>
  </section>
{{ end }}
